@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Poppins';
    font-size: 14px;
}


/* ---   HEADER   ---   HEADER   ---   HEADER   ---   HEADER   ---   HEADER   --- */

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
    margin: 15px 0px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  
  .logo {
      width: 80px;
      margin: 10px;
      display: flex;
      align-items: center;
  }

  .search-form {
    display: flex;
    justify-content: space-between;
    width: 70%;
    background-color: #f2f2f2;
    margin: 10px 20px;
    padding-left: 20px;
}

.search-form .barra {
    display: flex;
    align-items: center;
}

.search-form .barra img {
    height: 24px;
}

.search-form input[type="text"] {
  color: rgba(0,0,0,.05);
  color: #777;
  border: none;
  background-color: #f2f2f2;
  padding: 10px 20px;
  font-family: 'Poppins';
}


.search-form button {
  background-color: #fb3e44;
  color: white;
  border: none;
  padding: 0px 20px;
}

.button-two {
    font-family: 'Poppins';
    background-color: white;
    padding: 10px 20px;
    border: 1px solid lightgrey;
    text-decoration: none;
    color: black;
}

.button-three {
    font-family: 'Poppins';
    background-color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    color: black;
    }

.headerBottom {
    display: flex;
    flex-direction: row;
}

/* ---   SECTION 1   ---   SECTION 1   ---   SECTION 1   ---   SECTION 1   ---   SECTION 1   --- */

#section-one {
    height: 300px;
    padding: 150px 0;
    background-color: rgba(232,217,217,.3);
  }

#section-one h1 {
    font-size: 5em;
    text-align: Center;
}

#section-one article {
    font-size: 1.2em;
    text-align: Center;
    line-height: 25px;
    margin: 20px 450px;
    display: flex;
}

#section-one > div {
    display: flex;
    justify-content: center;
}

#section-one .button-red {
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Poppins';
    background-color: #fb3e44;
    padding: 10px 45px;
    border: none;
    text-decoration: none;
    color: white;
    margin-right: 15px;
    box-shadow: 8px 8px 0 rgba(251, 59, 72, 0.2);
}

#section-one .button-white {
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Poppins';
    background-color:white;
    padding: 10px 45px;
    border: none;
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

/* ---   SECTION 2   ---   SECTION 2   ---   SECTION 2   ---   SECTION 2   ---   SECTION 2   --- */

#section-two {
   height: 400px;
   padding: 50px 0;
   background-color: white;
}

#section-two img {
    height: 150px;
    display: block;
    margin: auto;
}

#section-two h2 {
    font-size: 2em;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    margin: 0px 300px
}

#section-two article {
    font-size: 1em;
    text-align: Center;
    line-height: 25px;
    margin: 20px 375px;
    display: flex;
}


/* ---   SECTION 3   ---   SECTION 3   ---   SECTION 3   ---   SECTION 3   ---   SECTION 3   --- */

#section-three > article {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 100px;
}

#section-three > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#section-three img {
    height: 25px;
}

#section-three h4 {
    font-size: 1.1em;
    color: #ED1C24;
    padding: 20px 0px
}

#section-three p {
    margin-right: 40px;
}

.button-black {
    font-size: 1em;
    font-weight: 600;
    font-family: 'Poppins';
    background-color: black;
    padding: 10px 45px;
    border: none;
    text-decoration: none;
    color: white;
    margin-right: 15px;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    display: flex;
    justify-content: center;
    margin: 20px 500px;
}